---
// index.astro ES
import Layout from "../layouts/Main.astro";
---

<Layout title="Erick Holgado">
  <section class="flex flex-col gap-6 items-center text-center py-05">
    <h1 class="text-5xl font-semibold text-center">Erick Holgado</h1>
    <h2 class="text-lg text-gray-600 dark:text-gray-300 max-w-xl leading-relaxed">
      Ingeniero Industrial y Analista de Datos<br/>
      Enfocado en automatización, análisis y transformación digital
    </h2>

  </section>
</Layout>
