---
// sobremi.astro
import Layout from "../layouts/Main.astro";
---

<Layout title="Sobre mí">
  <section class="flex flex-col gap-6 items-center text-center py-5">
    <h1 class="text-5xl font-semibold text-center">Sobre mí</h1>
    <article class="prose prose-neutral dark:prose-invert max-w-none text-lg leading-relaxed">
      Ingeniero Industrial, Analista de Datos, Scrum Master y voluntario. Soy bachiller en ingeniería industrial con un profundo interés en el análisis de datos y la automatización de procesos para optimizar el rendimiento y transformar la toma de decisiones en entornos organizacionales. He desarrollado soluciones visuales de alto impacto en Power BI, diseñado e implementado bases de datos en SQL Server, y trabajado con modelos estadísticos avanzados para pronósticos y análisis de tendencias utilizando R y Python. También cuento con certificación como Scrum Master, lo que me permite aplicar metodologías ágiles para liderar proyectos enfocados en la mejora continua, la eficiencia y la colaboración efectiva.
      <br/><br/>
      Pero mi historia no empieza en una empresa ni en una hoja de cálculo. Desde niño tuve una imaginación intensa, casi indomable. Mis figuras de acción cobraban vida, las ciudades que construía terminaban en escenarios caóticos o de renacimiento total, y la realidad se alternaba constantemente con mundos que solo existían en mi cabeza. Crecí, estudié, aprendí programación, matemáticas, finanzas y metodologías; pero esa imaginación nunca desapareció, solo encontró nuevas formas de expresarse, ahora a través de datos, tecnología e ideas que buscan crear, mejorar y transformar.
      <br/><br/>
      A veces me pierdo en mis pensamientos, desconectándome por instantes sin que nadie lo note, para luego regresar completamente presente. Es parte de cómo analizo, proyecto, imagino y entiendo el mundo. Disfruto el proceso y vivo cada momento con intención, equilibrio y curiosidad. Me gusta el color azul, las películas de Shrek y el helado de menta. Soy una mezcla de lógica, estructura y creatividad, ingeniería e imaginación; y estoy convencido de que el análisis y la intuición no son opuestos, sino aliados para construir cosas mejores.
    </article>
  </section>
</Layout>